.table-container {
    margin: 20px;
  
    h1 {
      font-size: 24px;
      color: #333;
      margin-bottom: 10px;
    }

    button {
        margin-bottom: 20px; 
    }
  
    mat-table {
      width: 100%;
      overflow-x: auto;
  
      mat-header-row {
        color: #000;
        font-weight: bold;
      }
  
      mat-header-cell {
        padding: 12px 24px;
      }
  
      mat-row {
        transition: background-color 0.3s ease;
        cursor: pointer;
  
        &:hover {
          background-color: #f5f5f5;
        }
      }
  
      mat-cell {
        padding: 12px 24px;
      }
    }
  }
  
  .mat-header-row {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .mat-header-row {
    border-bottom: 2px solid #9E9E9E;
  }


  